@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    background-color: #E3CAA0;
    font-family: 'Inter', sans-serif;
    color: #030303;
    text-align: center;
}
form {
    background-color: #94B791;
}
label {
    background-color: #94B791;
    text-align: left;
}
video {
    background-color: #94B791;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}